{% extends 'base.html' %}
{% load static %}

{% block title %}Tela Inicial{% endblock %}

{% block content %}
    <h2 class="page-title">Bem-vindo ao GionTech</h2>
    <p>Escolha o módulo de trabalho:</p>
    <br>
    
    <div class="module-grid">
        <a href="{% url 'administrador' %}" class="module-card">
            <img src="{% static 'img/pasta.png' %}" alt="Ícone Pasta">
            <span>Administrador</span>
        </a>

        <a href="{% url 'auditoria' %}" class="module-card">
            <img src="{% static 'img/pasta.png' %}" alt="Ícone Pasta">
            <span>Auditoria</span>
        </a>

        <a href="{% url 'contabilidade' %}" class="module-card">
            <img src="{% static 'img/pasta.png' %}" alt="Ícone Pasta">
            <span>Contabilidade</span>
        </a>

        <a href="{% url 'financeiro' %}" class="module-card">
            <img src="{% static 'img/pasta.png' %}" alt="Ícone Pasta">
            <span>Financeiro</span>
        </a>

        <a href="{% url 'logistica' %}" class="module-card">
            <img src="{% static 'img/pasta.png' %}" alt="Ícone Pasta">
            <span>Logística</span>
        </a>

        <a href="{% url 'pessoal' %}" class="module-card">
            <img src="{% static 'img/pasta.png' %}" alt="Ícone Pasta">
            <span>Pessoal</span>
        </a>
    
        <a href="{% url 'suprimentos' %}" class="module-card">
            <img src="{% static 'img/pasta.png' %}" alt="Ícone Pasta">
            <span>Suprimentos/ Compras</span>
        </a>
    </div>
{% endblock %}